src/main/resources/META-INF/xsd/hotel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.resanet.partenaires.com/hotel"
	xmlns:tns="http://www.resanet.partenaires.com/hotel" 
	elementFormDefault="qualified">

	<element name="rechercherHotelRequest">
		<complexType>
			<sequence>
				<element name="reference" type="string" />
			</sequence>
		</complexType>
	</element>

	<element name="rechercherHotelResponse">
		<complexType>
			<sequence>
				<element name="hotel" type="tns:Hotel" />
			</sequence>
		</complexType>
	</element>

	<element name="rechercherHotelFault" type="string" />
	
	<complexType name="Hotel">
		<sequence>
			<element name="nom" type="string" />
			<element name="ville" type="string" />
			<element name="nbEtoiles" type="int" />
		</sequence>
	</complexType>

</schema>